<h3 style="color:orange;">Exploring NYC Public School Test Results Scores</h3>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [5]:
# Re-run this cell 
import pandas as pd


# Read in the data
schools = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/school.csv')

# Preview the data
schools

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"""New Explorations into Science, Technology and...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7
...,...,...,...,...,...,...,...
370,"""Queens High School for Information, Research,...",Queens,Q465,372,362,352,44.6
371,Rockaway Park High School for Environmental Su...,Queens,Q410,357,381,376,38.5
372,Channel View School for Research,Queens,Q410,427,430,423,76.6
373,Rockaway Collegiate High School,Queens,Q410,399,403,405,46.5
374,Scholars' Academy,Queens,Q180,588,560,568,99.2

<h4 style="color:orange;">checking for NAN or missing values</h4>

In [6]:
print(schools.isna().sum())

school_name         0
borough             0
building_code       0
average_math        0
average_reading     0
average_writing     0
percent_tested     20
dtype: int64

<h4 style="color:orange;">Replacing missing values with 0</h4>

In [8]:
schools=schools.fillna(0)
print(schools.isna().sum())

school_name        0
borough            0
building_code      0
average_math       0
average_reading    0
average_writing    0
percent_tested     0
dtype: int64

<h4 style="color:orange;">Which NYC schools have the best math results?</h4>

In [9]:
best_math_schools = schools[["school_name","average_math"]].sort_values("average_math",ascending=False)
best_math_schools = best_math_schools[best_math_schools["average_math"] >= 0.8*800]

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   "High School for Mathematics, Science, and Eng...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    "New Explorations into Science, Technology and...           657
45                       Eleanor Roosevelt High School           641

<h4 style="color:orange;">What are the top 10 performing schools based on the combined SAT scores?</h4>

In [10]:
schools["total_SAT"] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
schools
top_10_schools = schools[['school_name','total_SAT']].sort_values('total_SAT',ascending=False)
print(top_10_schools)
top_10_schools = top_10_schools.iloc[0:10,:]
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
..                                                 ...        ...
171              Kingsbridge International High School        987
337             Pan American International High School        978
295      International High School at Prospect Heights        946
247                          Multicultural High School        926
182   Pan American International High School at Monroe        924

[375 rows x 2 columns]
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   "High School for Mathematics, Science, and Eng...       1889

<h4 style="color:orange;">Which single borough has the largest standard deviation in the combined SAT score?</h4>

In [12]:
df1 = schools.groupby('borough').agg(
    num_schools=('school_name', 'nunique'),
    average_SAT=('total_SAT', 'mean'),
    std_SAT=('total_SAT', 'std')
).round(2)

print(df1)
print('')
largest_std_dev = df1[df1['std_SAT']==df1['std_SAT'].max()]
print(largest_std_dev)

               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29

<span style='color:orange; font-weight:bold;'>Manhathan</span> has the largest standard deviation in the combined SAT score.