<h1 style="color:orange;">Pandas in Python</h1>
<p style="font-size:18px;">Pandas is a powerful and popular data manipulation and analysis library in Python. It provides data structures like Series and DataFrame that are well-suited for working with structured data, such as spreadsheets or SQL tables. Pandas makes it easy to clean, analyze, and visualize data, making it a fundamental tool for data scientists, analysts, and engineers. Here's an overview of how to use Pandas in Python:</p>

<h3 style="color:orange;">Inspecting a Dataframe</h3>

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

<li>.head() returns the first few rows (the “head” of the DataFrame).</li>
<li>.info() shows information on each of the columns, such as the data type and number of missing values.</li>
<li>.shape returns the number of rows and columns of the DataFrame.</li>
<li>.describe() calculates a few summary statistics for each column.</li>

In [641]:
# Import pandas as pd
import pandas as pd


# Import the cars.csv data: cars
home_data = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/home_data.csv')

home_data.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [642]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

In [643]:
home_data.shape

(51, 5)

In [644]:
home_data.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

<h3 style="color:orange;">Parts of a DataFrame</h3>

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

<li>.values: A two-dimensional NumPy array of values.</li>
<li>.columns: An index of columns: the column names.</li>
<li>.index: An index for the rows: either row numbers or row names.</li>

<li>Print a 2D NumPy array of the values in homelessness.</li>
<li>Print the column names of homelessness.</li>
<li>Print the index of homelessness.</li>

In [645]:
# Print the values of homelessness
print(home_data.values)

# Print the column index of homelessness
print(home_data.columns)

# Print the row index of homelessness
print(home_data.index)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
RangeIndex(start=0, stop=51, step=1)

<h3 style="color:orange;">Sorting rows</h3>

Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to .sort_values().<br>

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

<span style="color:lightgreen;">Sort homelessness by the number of homeless individuals in the individuals column, from smallest to largest, and save this as home_data_ind.
Print the head of the sorted DataFrame.</span>

In [646]:
# Sort homelessness by individuals
home_data_ind = home_data.sort_values('individuals')

# Print the top few rows
home_data_ind.head()

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

<span style="color:lightgreen;">Sort homelessness by the number of homeless family_members in descending order, and save this as home_data_fam.</span>

In [647]:
# Sort homelessness by individuals
home_data_fam = home_data.sort_values('family_members', ascending=False)

# Print the top few rows
home_data_fam.head()

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

<span style="color:lightgreen;">Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as home_data_reg_fam.</span>

In [648]:
# Sort homelessness by region, then descending family members
home_data_reg_fam = home_data.sort_values(['region','family_members'],ascending=[True,False])

# Print the top few rows
home_data_reg_fam.head()

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

<h3 style="color:orange;">Subsetting the Columns</h3>

When working with data, you may not need all of the variables in your dataset. Square brackets ([]) can be used to select only the columns that matter to you in an order that makes sense to you. To select only specific column of the DataFrame df,

<span style="color:lightgreen;">Create a Series called individuals that contains only the individuals column of home_data.</span>

In [649]:
individuals = home_data['individuals']
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

<h3 style="color:orange;">Subsetting rows</h3>

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.


<span style="color:lightgreen;">Filter home_data for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.</span>

In [650]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = home_data[home_data['individuals']>10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

<span style="color:lightgreen;">Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.</span>

In [651]:
# Filter for rows where region is Mountain
mountain_reg = home_data[home_data['region']=='Mountain']

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

 <span style="color:lightgreen;">Filter for rows where family_members is less than 1000 and region is Pacific</span>

In [652]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = home_data[(home_data['region']=='Pacific') & (home_data['family_members'] <1000)]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

<span style="color:lightgreen;">Subsetting rows by categorical variables</span>

Subsetting data based on a categorical variable often involves using the "or" operator (|) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the .isin() method, which will allow you to tackle this problem by writing one condition instead of three separate ones.<br>

colors = ["brown", "black", "tan"]<br>
condition = dogs["color"].isin(colors)<br>
dogs[condition]

<span style="color:lightgreen;">Filter home_data for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_home_data. View the printed result.</span>

In [653]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_home_data = home_data[home_data['state'].isin(canu)]

# See the result
print(mojave_home_data)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

<h3 style="color:orange;">Adding new Columns</h3>

You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.<br>

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.<br>

home_data is a DataFrame containing estimates of home_data in each U.S. state in 2018. The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.<br>

home_data is available and pandas is loaded as pd.<br>

<li style='color:lightGreen;'>Add a new column to home_data, named total, containing the sum of the individuals and family_members columns.</li>
<li style='color:lightGreen;'>Add another column to home_data, named p_homeless, containing the proportion of the total homeless population to the total population in each state state_pop.</li>

In [654]:
# Add total col as sum of individuals and family_members
home_data["total"]=home_data['individuals']+home_data['family_members']

# Add p_homeless col as proportion of total homeless population to the state population
home_data['p_homeless']=home_data['total'] / home_data['state_pop']

# See the result
home_data

,region,state,individuals,family_members,state_pop,total,p_homeless
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.000703
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.002742
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.001378
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.000901
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.003294
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0,0.001908
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0,0.001113
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0,0.001121
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.009841
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0,0.001461
10,South Atlantic,Georgia,6943.0,2556.0,10511131,9499.0,0.000904
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.004597
12,Mountain,Idaho,1297.0,715.0,1750536,2012.0,0.001149
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0,0.000837
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0,0.000785
15,West North Central,Iowa,1711.0,1038.0,3148618,2749.0,0.000873
16,West North Central,Kansas,1443.0,773.0,2911359,2216.0,0.000761
17,East South Central,Kentucky,2735.0,953.0,4461153,3688.0,0.000827
18,West South Central,Louisiana,2540.0,519.0,4659690,3059.0,0.000656
19,New England,Maine,1450.0,1066.0,1339057,2516.0,0.001879
20,South Atlantic,Maryland,4914.0,2230.0,6035802,7144.0,0.001184
21,New England,Massachusetts,6811.0,13257.0,6882635,20068.0,0.002916
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0,0.000836
23,West North Central,Minnesota,3993.0,3250.0,5606249,7243.0,0.001292
24,East South Central,Mississippi,1024.0,328.0,2981020,1352.0,0.000454
25,West North Central,Missouri,3776.0,2107.0,6121623,5883.0,0.000961
26,Mountain,Montana,983.0,422.0,1060665,1405.0,0.001325
27,West North Central,Nebraska,1745.0,676.0,1925614,2421.0,0.001257
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.002492
29,New England,New Hampshire,835.0,615.0,1353465,1450.0,0.001071
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,9398.0,0.001058
31,Mountain,New Mexico,1949.0,602.0,2092741,2551.0,0.001219
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.004705
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,9268.0,0.000893
34,West North Central,North Dakota,467.0,75.0,758080,542.0,0.000715
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0,0.000878
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3871.0,0.000982
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.003462
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,13512.0,0.001056
39,New England,Rhode Island,747.0,354.0,1058287,1101.0,0.001040
40,South Atlantic,South Carolina,3082.0,851.0,5084156,3933.0,0.000774
41,West North Central,South Dakota,836.0,323.0,878698,1159.0,0.001319
42,East South Central,Tennessee,6139.0,1744.0,6771631,7883.0,0.001164
43,West South Central,Texas,19199.0,6111.0,28628666,25310.0,0.000884
44,Mountain,Utah,1904.0,972.0,3153550,2876.0,0.000912
45,New England,Vermont,780.0,511.0,624358,1291.0,0.002068
46,South Atlantic,Virginia,3928.0,2047.0,8501286,5975.0,0.000703
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.002964
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1243.0,0.000689
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0,0.000845
50,Mountain,Wyoming,434.0,205.0,577601,639.0,0.001106

You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.<br>

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.<br>

<li style='color:lightGreen;'>Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state, using state_pop for state population.</li>
<li style='color:lightGreen;'>Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.</li>
<li style='color:lightGreen;'>Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.</li>
<li style='color:lightGreen;'>Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.</li>

In [655]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
home_data["indiv_per_10k"] = 10000 * home_data['individuals'] /home_data['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = home_data[home_data['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt =high_homelessness.sort_values('indiv_per_10k',ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
#result = high_homelessness_srt.loc[:,['state','indiv_per_10k']]
result = high_homelessness_srt[['state','indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

Cool combination! District of Columbia has the highest number of homeless individuals - almost 54 per ten thousand people. This is almost double the number of the next-highest state, Hawaii. If you combine new column addition, row subsetting, sorting, and column selection, you can answer lots of questions like this.

<h3 style="color:orange;">Dictionary to DataFrame</h3>
<p style="font-size:18px;">Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.</p>

<li>names, containing the country names for which data is available.</li>
<li>dr, a list with booleans that tells whether people drive left or right in the corresponding country.</li>
<li>cpc, the number of motor vehicles per 1000 people in the corresponding country.</li>

<p>Each dictionary key is a column label and each value is a list which contains the column elements.</p>

<li>Import pandas as pd.</li>
<li>Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs:</li>
<li>key 'country' and value names.</li>
<li>key 'drives_right' and value dr.</li>
<li>key 'cars_per_cap' and value cpc.</li>
<li>Use pd.DataFrame() to turn your dict into a DataFrame called cars.</li>
<li>Print out cars and see how beautiful it is.</li>

In [656]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd


# Create dictionary my_dict with three key:value pairs: my_dict
my_dict ={
    'country': names,
    'drives_right':dr,
    'cars_per_cap':cpc
}


# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)


# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

<p>The Python code that solves the previous exercise is included in the script. Have you noticed that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

To solve this a list row_labels has been created. You can use it to specify the row labels of the cars DataFrame. You do this by setting the index attribute of cars, that you can access as cars.index.</p>

<li>Specify the row labels by setting cars.index equal to row_labels.</li>
<li>Print out cars again and check if the row labels are correct this time.</li>

In [657]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)


# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index =row_labels


# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

<h3 style="color:orange;">CSV to DataFrame</h3>
<p>Putting data in a dictionary and then building a DataFrame works, but it's not very efficient. What if you're dealing with millions of observations? In those cases, the data is typically available as files with a regular structure. One of those file types is the CSV file, which is short for "comma-separated values".

To import CSV data into Python as a Pandas DataFrame you can use read_csv().

Let's explore this function with the same cars data from the previous exercises. This time, however, the data is available in a CSV file, named cars.csv. It is available in your current working directory, so the path to the file is simply 'cars.csv'.
<li>To import CSV files you still need the pandas package: import it as pd.</li>
<li>Use pd.read_csv() to import cars.csv data as a DataFrame. Store this DataFrame as cars.</li>
<li>Print out cars. Does everything look OK?</li>
</p>

In [658]:
# Import pandas as pd
import pandas as pd


# Import the cars.csv data: cars
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt')




# Print out cars
print(cars)

  Unnamed: 0        country drives_right  cars_per_cap
0         US  United States         True           809
1        AUS      Australia        False           731
2        JPN          Japan        False           588
3         IN          India        False            18
4         RU         Russia         True           200
5        MOR        Morocco         True            70
6         EG          Egypt         True            45

<p>Your read_csv() call to import the CSV data didn't generate an error, but the output is not entirely what we wanted. The row labels were imported as another column without a name.

Remember index_col, an argument of read_csv(), that you can use to specify which column in the CSV file should be used as a row label? Well, that's exactly what you need here!

Python code that solves the previous exercise is already included; can you make the appropriate changes to fix the data import?
<li>Run the code with Run Code and assert that the first column should actually be used as row labels.

</li>
<li>Specify the index_col argument inside pd.read_csv(): set it to 0, so that the first column is used as row labels.</li>
<li>Has the printout of cars improved now?</li>
</p>

In [659]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt',index_col = 0)

# Print out cars
print(cars)

           country drives_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
IN           India        False            18
RU          Russia         True           200
MOR        Morocco         True            70
EG           Egypt         True            45

<h3 style="color:orange;">Accessing DataFrames</h3>
<h3 style="color:orange;">Square Brackets Technique</h3>
<p style="font-size:18px;">In the sample code, the same cars data is imported from a CSV files as a Pandas DataFrame.<br> To select only the cars_per_cap column from cars, you can use:

cars['cars_per_cap'] <br>
cars[['cars_per_cap']] <br>
The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.</p>

<li>Use single square brackets to print out the country column of cars as a Pandas Series.</li>
<li>Use double square brackets to print out the country column of cars as a Pandas DataFrame.</li>
<li>Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order.</li>

In [660]:
# Import cars data
import pandas as pd
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])



# Print out country column as Pandas DataFrame
print(cars[['country']])


# Print out DataFrame with country and drives_right columns
print(cars[['country','drives_right']])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country drives_right
US   United States         True
AUS      Australia        False
JPN          Japan        False
IN           India        False
RU          Russia         True
MOR        Morocco         True
EG           Egypt         True

<p style='font-size:18px;'><span style="color:orange;">Square brackets</span> can do more than just selecting columns. You can also use them to get rows, or observations, from a DataFrame. The following call selects the first five rows from the cars DataFrame:

cars[0:5]
The result is another DataFrame containing only the rows you specified.

<span style="color:red">Pay attention:</span> You can only select rows using square brackets if you specify a slice, like 0:4. Also, you're using the integer indexes of the rows here, not the row labels!</p>

<li>Select the first 3 observations from cars and print them out.</li>
<li>Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out.</li>

In [661]:
# Import cars data
import pandas as pd
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt', index_col = 0)

# Print out first 3 observations
print(cars[0:3])


# Print out fourth, fifth and sixth observation
print(cars[3:6])

           country drives_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
     country drives_right  cars_per_cap
IN     India        False            18
RU    Russia         True           200
MOR  Morocco         True            70

<p style='font-size:18px;'><span style="color:orange;">loc and iloc</span> With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with loc and iloc to select observations. Each pair of commands here gives the same result.

cars.loc['RU'] <br>
cars.iloc[4]<br>

cars.loc[['RU']]<br>
cars.iloc[[4]]<br>

cars.loc[['RU', 'AUS']]<br>
cars.iloc[[4, 1]]<br>
As before, code is included that imports the cars data as a Pandas DataFrame.</p>

<li>Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JPN, the index is 2. Make sure to print the resulting Series.
</li>
<li>Use loc or iloc to select the observations for Australia and Egypt as a DataFrame.</li> <br>You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. Make sure to print the resulting DataFrame.

In [662]:
# Print out observation for Japan
print(cars.loc['JPN'])
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS','EG']])
print(cars.iloc[[1,6]])

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
       country drives_right  cars_per_cap
AUS  Australia        False           731
EG       Egypt         True            45
       country drives_right  cars_per_cap
AUS  Australia        False           731
EG       Egypt         True            45

<p><span style="color:orange;">loc and iloc</span> also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.

cars.loc['IN', 'cars_per_cap']<br>
cars.iloc[3, 0]<br>

cars.loc[['IN', 'RU'], 'cars_per_cap']<br>
cars.iloc[[3, 4], 0]<br>

cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]<br>
cars.iloc[[3, 4], [0, 1]]<br>
</p>
<li>Print out the drives_right value of the row corresponding to Morocco (its row label is MOR)
</li>
<li>Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.</li>

In [663]:
# Print out drives_right value of Morocco
print(cars.loc[["MOR"],['drives_right']])
print()


# Print sub-DataFrame
print(cars.loc[["RU","MOR"],["country","drives_right"]])

    drives_right
MOR         True

     country drives_right
RU    Russia         True
MOR  Morocco         True

<p>It's also possible to select only columns with <span style="color:orange;">loc and iloc</span>. In both cases, you simply put a slice going from beginning to end in front of the comma:

cars.loc[:, 'country']<br>
cars.iloc[:, 1]<br>

cars.loc[:, ['country','drives_right']]<br>
cars.iloc[:, [1, 2]]<br>
</p>
<li>Print out the drives_right column as a Series using loc or iloc.<br></li>
<li>Print out the drives_right column as a DataFrame using loc or iloc.<br></li>
<li>Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.<br></li>

In [664]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])
print()

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])
print()

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap','drives_right']])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: object

    drives_right
US          True
AUS        False
JPN        False
IN         False
RU          True
MOR         True
EG          True

     cars_per_cap drives_right
US            809         True
AUS           731        False
JPN           588        False
IN             18        False
RU            200         True
MOR            70         True
EG             45         True

<h3 style="color:orange;">Summary Statistics</h3>

<h3 style="color:orange;">Mean and Median</h3>
Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

In [665]:
import pandas as pd
sales = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/sales.csv')

<li>Explore your new DataFrame first by printing the first few rows of the sales DataFrame.</li>
<li>Print information about the columns in sales.</li>
<li>Print the mean of the weekly_sales column.</li>
<li>Print the median of the weekly_sales column.</li>

In [666]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print("Mean of weekly_sales is ",sales['weekly_sales'].mean())

# Print the median of weekly_sales
print("Median of weekly_sales is ",sales['weekly_sales'].median())

   store type  department      date  weekly_sales  is_holiday  temperature_c  \
0      1    A           1  2/5/2010      24924.50       False       5.727778
1      1    A           1  3/5/2010      21827.90       False       8.055556
2      1    A           1  4/2/2010      57258.43       False      16.816667
3      1    A           1  5/7/2010      17413.94       False      22.527778
4      1    A           1  6/4/2010      17558.09       False      27.050000

   fuel_price_usd_per_l  unemployment
0              0.679451         8.106
1              0.693452         8.106
2              0.718284         7.808
3              0.748928         7.808
4              0.714586         7.808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 684.0+ KB
None
Mean of weekly_sales is  23843.95014850566
Median of weekly_sales is  12049.064999999999

<h3 style="color:orange;">Summarizing Dates</h3>
Summary statistics can also be calculated on date columns that have values with the data type datetime64. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example, minimum and maximum, which allow you to see what time range your data covers.

<li>Print the maximum of the date column.</li>
<li>Print the minimum of the date column.</li>

In [667]:
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

9/9/2011
1/13/2012

<h3 style="color:orange;">Efficient summaries</h3>
While pandas and NumPy have tons of functions, sometimes, you may need a different function to summarize your data.

The .agg() method allows you to apply your own custom functions to a DataFrame, as well as apply functions to more than one column of a DataFrame at once, making your aggregations super-efficient. For example,

df['column'].agg(function)

<li>Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.</li>
<li>Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.</li>

<li>Update the aggregation functions called by .agg(): include iqr and np.median in that order.</li>

In [668]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

16.583333337000003

In [669]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [670]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])

C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1446678071.py:7: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1446678071.py:7: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1446678071.py:7: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

<h3 style="color:orange;">Cumulative statistics</h3>
Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called sales_1_1 has been created for you, which contains the sales data for department 1 of store 1. pandas is loaded as pd.

<li>Sort the rows of sales_1_1 by the date column in ascending order.</li>
<li>Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.</li>
<li>Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.</li>
<li>Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales columns.</li>

In [671]:
sales_1_1 = sales[(sales['department']==1) & (sales['store']==1)]

# Assuming sales_1_1 is your DataFrame
sales_1_1['date'] = pd.to_datetime(sales_1_1['date'])  # Convert to datetime
sales_1_1['date'] = sales_1_1['date'].dt.strftime('%Y-%m-%d')  # Change format to yyyy-mm-dd

C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1808120347.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_1_1['date'] = pd.to_datetime(sales_1_1['date'])  # Convert to datetime
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1808120347.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_1_1['date'] = sales_1_1['date'].dt.strftime('%Y-%m-%d')  # Change format to yyyy-mm-dd

In [672]:

# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date',ascending=True)

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

          date  weekly_sales  cum_weekly_sales  cum_max_sales
0   2010-02-05      24924.50          24924.50       24924.50
1   2010-03-05      21827.90          46752.40       24924.50
2   2010-04-02      57258.43         104010.83       57258.43
3   2010-05-07      17413.94         121424.77       57258.43
4   2010-06-04      17558.09         138982.86       57258.43
5   2010-07-02      16333.14         155316.00       57258.43
6   2010-08-06      17508.41         172824.41       57258.43
7   2010-09-03      16241.78         189066.19       57258.43
8   2010-10-01      20094.19         209160.38       57258.43
9   2010-11-05      34238.88         243399.26       57258.43
10  2010-12-03      22517.56         265916.82       57258.43
11  2011-01-07      15984.24         281901.06       57258.43

<h3 style="color:orange;">Dropping duplicates</h3>
Removing duplicates is an essential skill to get accurate counts because often, you don't want to count the same thing multiple times. In this exercise, you'll create some new DataFrames using unique values from sales.

<li>Remove rows of sales with duplicate pairs of store and type and save as store_types and print the head.</li>
<li>Remove rows of sales with duplicate pairs of store and department and save as store_depts and print the head.</li>
<li>Subset the rows that are holiday weeks using the is_holiday column, and drop the duplicate dates, saving as holiday_dates.</li>
<li>Select the date column of holiday_dates, and print.</li>

In [673]:
sales_new=sales.iloc[0:50,:]
#sales_new

In [674]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=['store','type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=['store','department'])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday']==True].drop_duplicates(subset=['date'])

# Print date col of holiday_dates
print(holiday_dates['date'])

      store type  department      date  weekly_sales  is_holiday  \
0         1    A           1  2/5/2010      24924.50       False
901       2    A           1  2/5/2010      35034.06       False
1798      4    A           1  2/5/2010      38724.42       False
2699      6    A           1  2/5/2010      25619.00       False
3593     10    B           1  2/5/2010      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765
    store type  department      date  weekly_sales  is_holiday  temperature_c  \
0       1    A           1  2/5/2010      24924.50       False       5.727778
12      1    A           2  2/5/2010      50605.27       False       5.727778
24      1    A           3  2/5/2010      13740.12       False       5.727778
36      1    A           4  2/5/2010      39954.04       False       5.727778
48      1    A           5  2/5/2010      32229.38       False       5.727778

    fuel_price_usd_per_l  unemployment
0               0.679451         8.106
12              0.679451         8.106
24              0.679451         8.106
36              0.679451         8.106
48              0.679451         8.106
498      9/10/2010
691     11/25/2011
2315     2/12/2010
6735      9/7/2012
6810    12/31/2010
6815     2/10/2012
6820      9/9/2011
Name: date, dtype: object

<h3 style="color:orange;">Counting categorical variables</h3>
Counting is a great way to get an overview of your data and to spot curiosities that you might not notice otherwise. In this exercise, you'll count the number of each type of store and the number of each department number using the DataFrames you created in the previous exercise:

<li>Count the number of stores of each store type in store_types.</li>
<li>Count the proportion of stores of each store type in store_types.</li>
<li>Count the number of stores of each department in store_depts, sorting the counts in descending order.</li>
<li>Count the proportion of stores of each department in store_depts, sorting the proportions in descending order.</li>

In [675]:
# Count the number of stores of each type
store_counts = store_types['type'].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types['type'].value_counts(normalize=True)
print(store_props)

# Count the number of stores for each department and sort
dept_counts_sorted = store_depts['department'].value_counts()
print(dept_counts_sorted)

# Get the proportion of stores in each department and sort
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

type
A    11
B     1
Name: count, dtype: int64
type
A    0.916667
B    0.083333
Name: proportion, dtype: float64
department
1     12
55    12
72    12
71    12
67    12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64
department
1     0.012917
55    0.012917
72    0.012917
71    0.012917
67    0.012917
        ...
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: proportion, Length: 80, dtype: float64

 <h3 style="color:orange;">Grouped Summary Statistics</h3>
 What percent of sales occurred at each store type?

 While .groupby() is useful, you can calculate grouped summary statistics without it.

Walmart distinguishes three types of stores: "supercenters," "discount stores," and "neighborhood markets," encoded in this dataset as type "A," "B," and "C." In this exercise, you'll calculate the total sales made at each store type, without using .groupby(). You can then use these numbers to see what proportion of Walmart's total sales were made at each type.

sales is available and pandas is imported as pd.

<li>Calculate the total weekly_sales over the whole dataset.</li>
<li>Subset for type "A" stores, and calculate their total weekly sales.</li>
<li>Do the same for type "B" and type "C" stores.</li>
<li>Combine the A/B/C results into a list, and divide by sales_all to get the proportion of sales by type.</li>

In [676]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"]=="B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"]=="C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type =[sales_A, sales_B,sales_C] / sales_all
print(sales_propn_by_type)

[0.9097747 0.0902253 0.       ]

 <h3 style="color:orange;">Calculations with .groupby()</h3>
 The .groupby() method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the .groupby() method. You'll also perform calculations on data grouped by two variables to see if sales differ by store type depending on if it's a holiday week or not.

sales is available and pandas is loaded as pd.

<li>Group sales by "type", take the sum of "weekly_sales", and store as sales_by_type.</li>
<li>Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type.</li>

In [677]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()
print(sales_by_type)
print(sum(sales_by_type))

# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64
256894718.89999998
type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

In [678]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday =  sales.groupby(["type","is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

<h3 style="color:orange;">Multiple grouped summaries</h3>

Earlier in this chapter, you saw that the .agg() method is useful to compute multiple statistics on multiple variables. It also works with grouped data. NumPy, which is imported as np, has many different summary statistics functions, including: np.min, np.max, np.mean, and np.median.

sales is available and pandas is imported as pd.

<li>Import numpy with the alias np.</li>
<li>Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!</li>
<li>Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.</li>

In [679]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")['weekly_sales'].agg([np.min,np.max,np.mean,np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([np.min,np.max,np.mean,np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

         min        max          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08
     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:5: FutureWarning: The provided callable <function min at 0x00000229FFC4B240> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sales_stats = sales.groupby("type")['weekly_sales'].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:5: FutureWarning: The provided callable <function max at 0x00000229FFC4B100> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sales_stats = sales.groupby("type")['weekly_sales'].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:5: FutureWarning: The provided callable <function mean at 0x00000229FFC4BB00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  sales_stats = sales.groupby("type")['weekly_sales'].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:5: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales_stats = sales.groupby("type")['weekly_sales'].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:11: FutureWarning: The provided callable <function min at 0x00000229FFC4B240> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:11: FutureWarning: The provided callable <function max at 0x00000229FFC4B100> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:11: FutureWarning: The provided callable <function mean at 0x00000229FFC4BB00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:11: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([np.min,np.max,np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\361288484.py:11: FutureWarning: The provided callable <function min at 0x00000229FFC4B240> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  unemp_fuel_stats = sales.groupby('type')[['unemployment','fuel_price_usd_per_l']].agg([np.min,np.max,np.mean,np.median])

Awesome aggregating! Notice that the minimum weekly_sales is negative because some stores had more returns than sales.

<h3 style="color:orange;">Pivoting on one variable</h3>
Perfect pivoting! Pivot tables are another way to do the same thing as a group-by-then-summarize.

Pivot tables are the standard way of aggregating data in spreadsheets.

In pandas, pivot tables are essentially another way of performing grouped calculations. That is, the .pivot_table() method is an alternative to .groupby().

In this exercise, you'll perform calculations using .pivot_table() to replicate the calculations you performed in the last lesson using .groupby().

sales is available and pandas is imported as pd.

<li>Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.</li>
<li>Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.</li>
<li>Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.</li>

In [680]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values='weekly_sales',index='type')

# Print mean_sales_by_type
print(mean_sales_by_type)
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values='weekly_sales',index='type',aggfunc=[np.mean,np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values='weekly_sales',index='type',columns='is_holiday')

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

      weekly_sales
type
A     23674.667242
B     25696.678370
              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08
is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\3257438326.py:10: FutureWarning: The provided callable <function mean at 0x00000229FFC4BB00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  mean_med_sales_by_type = sales.pivot_table(values='weekly_sales',index='type',aggfunc=[np.mean,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\3257438326.py:10: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  mean_med_sales_by_type = sales.pivot_table(values='weekly_sales',index='type',aggfunc=[np.mean,np.median])

<h3 style="color:orange;">Fill in missing values and sum values with pivot tables</h3>
The .pivot_table() method has several useful arguments, including fill_value and margins.

fill_value replaces missing values with a real value (known as imputation). What to replace missing values with is a topic big enough to have its own course (Dealing with Missing Data in Python), but the simplest thing to do is to substitute a dummy value.

margins is a shortcut for when you pivoted by two variables, but also wanted to pivot by each of those variables separately: it gives the row and column totals of the pivot table contents.

In this exercise, you'll practice using these arguments to up your pivot table skills, which will help you crunch numbers more efficiently!

<li>Print the mean weekly_sales by department and type, filling in any missing values with 0.</li>
<li>Print the mean weekly_sales by department and type, filling in any missing values with 0 and summing all rows and columns.</li>

In [681]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values='weekly_sales',index='type',columns='department',margins=True,fill_value=0))

department             1              2             3             4  \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167
All         32052.467153   71380.022778  18278.390625  44863.253681

department             5             6             7             8  \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333
All         37189.000000   7434.709722  39658.946528  52095.998472

department             9            10  ...            91             92  \
type                                    ...
A           30120.449924  30930.456364  ...  70423.165227  139722.204773
B           66679.301667  48595.126667  ...  13199.602500   50859.278333
All         33167.020903  32402.512222  ...  65654.535000  132316.960903

department            93            94             95            96  \
type
A           53413.633939  60081.155303  123933.787121  21367.042857
B            1466.274167    161.445833   77082.102500   9528.538333
All         49084.687292  55087.846181  120029.480069  20337.607681

department            97            98          99           All
type
A           28471.266970  12875.423182  379.123659  23674.667242
B            5828.873333    217.428333    0.000000  25696.678370
All         26584.400833  11820.590278  379.123659  23843.950149

[3 rows x 81 columns]

In [682]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0,margins=True))

type                   A              B           All
department
1           30961.725379   44050.626667  32052.467153
2           67600.158788  112958.526667  71380.022778
3           17160.002955   30580.655000  18278.390625
4           44285.399091   51219.654167  44863.253681
5           34821.011364   63236.875000  37189.000000
...                  ...            ...           ...
96          21367.042857    9528.538333  20337.607681
97          28471.266970    5828.873333  26584.400833
98          12875.423182     217.428333  11820.590278
99            379.123659       0.000000    379.123659
All         23674.667242   25696.678370  23843.950149

[81 rows x 3 columns]


<h3 style="color:orange;">Slicing and Indexing DataFrames</h3>
<h4 style="color:orange;">Setting and removing indexes</h4>

pandas allows you to designate columns as an index. This enables cleaner code when taking subsets (as well as providing more efficient lookup under some circumstances).

In this chapter, you'll be exploring temperatures, a DataFrame of average temperatures in cities around the world.

Importing data for temperatures

In [683]:
temperatures = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/temperatures.csv', index_col = 0)
temperatures

             date     city        country  avg_temp_c
0      2000-01-01  Abidjan  Côte D'Ivoire      27.293
1      2000-02-01  Abidjan  Côte D'Ivoire      27.685
2      2000-03-01  Abidjan  Côte D'Ivoire      29.061
3      2000-04-01  Abidjan  Côte D'Ivoire      28.162
4      2000-05-01  Abidjan  Côte D'Ivoire      27.547
...           ...      ...            ...         ...
16495  2013-05-01     Xian          China      18.979
16496  2013-06-01     Xian          China      23.522
16497  2013-07-01     Xian          China      25.251
16498  2013-08-01     Xian          China      24.528
16499  2013-09-01     Xian          China         NaN

[16500 rows x 4 columns]

Set the index of temperatures to "city", assigning to temperatures_ind.

In [684]:
# Set the index of temperatures to city
temperatures_ind =temperatures.set_index('city')
temperatures_ind.head()

               date        country  avg_temp_c
city
Abidjan  2000-01-01  Côte D'Ivoire      27.293
Abidjan  2000-02-01  Côte D'Ivoire      27.685
Abidjan  2000-03-01  Côte D'Ivoire      29.061
Abidjan  2000-04-01  Côte D'Ivoire      28.162
Abidjan  2000-05-01  Côte D'Ivoire      27.547

Reset the Index of Temperature_ind, keeping its contents

In [685]:
print(temperatures_ind.reset_index())

          city        date        country  avg_temp_c
0      Abidjan  2000-01-01  Côte D'Ivoire      27.293
1      Abidjan  2000-02-01  Côte D'Ivoire      27.685
2      Abidjan  2000-03-01  Côte D'Ivoire      29.061
3      Abidjan  2000-04-01  Côte D'Ivoire      28.162
4      Abidjan  2000-05-01  Côte D'Ivoire      27.547
...        ...         ...            ...         ...
16495     Xian  2013-05-01          China      18.979
16496     Xian  2013-06-01          China      23.522
16497     Xian  2013-07-01          China      25.251
16498     Xian  2013-08-01          China      24.528
16499     Xian  2013-09-01          China         NaN

[16500 rows x 4 columns]

Reset the index of temperatures_ind, dropping its contents.

In [686]:
print(temperatures_ind.reset_index(drop=True))

             date        country  avg_temp_c
0      2000-01-01  Côte D'Ivoire      27.293
1      2000-02-01  Côte D'Ivoire      27.685
2      2000-03-01  Côte D'Ivoire      29.061
3      2000-04-01  Côte D'Ivoire      28.162
4      2000-05-01  Côte D'Ivoire      27.547
...           ...            ...         ...
16495  2013-05-01          China      18.979
16496  2013-06-01          China      23.522
16497  2013-07-01          China      25.251
16498  2013-08-01          China      24.528
16499  2013-09-01          China         NaN

[16500 rows x 3 columns]

<h4 style="color:orange;">Subsetting with .loc [ ]</h4>

The killer feature for indexes is .loc[]: a subsetting method that accepts index values. When you pass it a single argument, it will take a subset of rows.

The code for subsetting using .loc[] can be easier to read than standard square bracket subsetting, which can make your code less burdensome to maintain.

pandas is loaded as pd. temperatures and temperatures_ind are available; the latter is indexed by city.

Create a list called cities that contains "Moscow" and "Saint Petersburg".

In [687]:
# Make a list of cities to subset on
cities = ["Moscow","Saint Petersburg"]

Use [ ] subsetting to filter temperatures for rows where the city column takes a value in the cities list.

In [688]:
# Subset temperatures using square brackets
print(temperatures[temperatures['city'].isin(cities)])

             date              city country  avg_temp_c
10725  2000-01-01            Moscow  Russia      -7.313
10726  2000-02-01            Moscow  Russia      -3.551
10727  2000-03-01            Moscow  Russia      -1.661
10728  2000-04-01            Moscow  Russia      10.096
10729  2000-05-01            Moscow  Russia      10.357
...           ...               ...     ...         ...
13360  2013-05-01  Saint Petersburg  Russia      12.355
13361  2013-06-01  Saint Petersburg  Russia      17.185
13362  2013-07-01  Saint Petersburg  Russia      17.234
13363  2013-08-01  Saint Petersburg  Russia      17.153
13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 4 columns]

Use .loc [ ] subsetting to filter temperatures_ind for rows where the city is in the cities list.

In [689]:
print(temperatures_ind.loc[["Moscow","Saint Petersburg"]])

                        date country  avg_temp_c
city
Moscow            2000-01-01  Russia      -7.313
Moscow            2000-02-01  Russia      -3.551
Moscow            2000-03-01  Russia      -1.661
Moscow            2000-04-01  Russia      10.096
Moscow            2000-05-01  Russia      10.357
...                      ...     ...         ...
Saint Petersburg  2013-05-01  Russia      12.355
Saint Petersburg  2013-06-01  Russia      17.185
Saint Petersburg  2013-07-01  Russia      17.234
Saint Petersburg  2013-08-01  Russia      17.153
Saint Petersburg  2013-09-01  Russia         NaN

[330 rows x 3 columns]

<h4 style="color:orange;">Setting multi-level indexes</h4>

Indexes can also be made out of multiple columns, forming a multi-level index (sometimes called a hierarchical index). There is a trade-off to using these.

The benefit is that multi-level indexes make it more natural to reason about nested categorical variables. For example, in a clinical trial, you might have control and treatment groups. Then each test subject belongs to one or another group, and we can say that a test subject is nested inside the treatment group. Similarly, in the temperature dataset, the city is located in the country, so we can say a city is nested inside the country.

The main downside is that the code for manipulating indexes is different from the code for manipulating columns, so you have to learn two syntaxes and keep track of how your data is represented.

Set the index of temperatures to the "country" and "city" columns, and assign this to temperatures_ind.

In [690]:
print(temperatures.set_index(['country','city']))

                             date  avg_temp_c
country       city
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547
...                           ...         ...
China         Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN

[16500 rows x 2 columns]

Specify two country/city pairs to keep: "Brazil"/"Rio De Janeiro" and "Pakistan"/"Lahore", assigning to rows_to_keep.

In [691]:
rows_to_keep = [('Brazil', 'Rio De Janeiro'),('Pakistan', 'Lahore')]

Print and subset temperatures_ind for rows_to_keep using .loc [ ].

In [692]:
print(temperatures.set_index(['country','city']).loc[rows_to_keep])

                               date  avg_temp_c
country  city
Brazil   Rio De Janeiro  2000-01-01      25.974
         Rio De Janeiro  2000-02-01      26.699
         Rio De Janeiro  2000-03-01      26.270
         Rio De Janeiro  2000-04-01      25.750
         Rio De Janeiro  2000-05-01      24.356
...                             ...         ...
Pakistan Lahore          2013-05-01      33.457
         Lahore          2013-06-01      34.456
         Lahore          2013-07-01      33.279
         Lahore          2013-08-01      31.511
         Lahore          2013-09-01         NaN

[330 rows x 2 columns]

<h4 style="color:orange;">Sorting by index values</h4>

Previously, you changed the order of the rows in a DataFrame by calling .sort_values ( ). It's also useful to be able to sort by elements in the index. For this, you need to use .sort_index ( ).

pandas is loaded as pd. temperatures_ind has a multi-level index of country and city, and is available.

Sort temperatures_ind by the index values.

In [693]:
temperatures_ind=temperatures.set_index(['country','city'])
print(temperatures_ind.sort_index())

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

Sort temperatures_ind by index values at the city level

In [694]:
# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level='city'))

                             date  avg_temp_c
country       city
Côte D'Ivoire Abidjan  2000-01-01      27.293
              Abidjan  2000-02-01      27.685
              Abidjan  2000-03-01      29.061
              Abidjan  2000-04-01      28.162
              Abidjan  2000-05-01      27.547
...                           ...         ...
China         Xian     2013-05-01      18.979
              Xian     2013-06-01      23.522
              Xian     2013-07-01      25.251
              Xian     2013-08-01      24.528
              Xian     2013-09-01         NaN

[16500 rows x 2 columns]

Sort temperatures_ind by country then descending city

In [695]:
# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=['country','city'],ascending=[True,False]))

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

<h4 style="color:orange;">Slicing index values</h4>

Slicing lets you select consecutive elements of an object using first:last syntax. DataFrames can be sliced by index values or by row/column number; we'll start with the first case. This involves slicing inside the .loc[] method.

<li>You can only slice an index if the index is sorted (using .sort_index ( )).</li>
<li>To slice at the outer level, first and last can be strings.</li>
<li>To slice at inner levels, first and last should be tuples.</li>
<li>If you pass a single slice to .loc [ ], it will slice the rows.</li>
pandas is loaded as pd. temperatures_ind has country and city in the index, and is available.

Sort the index of temperatures_ind

In [696]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()
print(temperatures_srt)

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

 Subset rows from Pakistan to Russia

In [697]:
print(temperatures_srt.loc['Pakistan':'Russia',:])

                                 date  avg_temp_c
country  city
Pakistan Faisalabad        2000-01-01      12.792
         Faisalabad        2000-02-01      14.339
         Faisalabad        2000-03-01      20.309
         Faisalabad        2000-04-01      29.072
         Faisalabad        2000-05-01      34.845
...                               ...         ...
Russia   Saint Petersburg  2013-05-01      12.355
         Saint Petersburg  2013-06-01      17.185
         Saint Petersburg  2013-07-01      17.234
         Saint Petersburg  2013-08-01      17.153
         Saint Petersburg  2013-09-01         NaN

[1155 rows x 2 columns]

Try to subset rows from Lahore to Moscow

In [698]:
print(temperatures_srt.loc[('Pakistan','Lahore'):('Russia','Moscow'),:])

                       date  avg_temp_c
country  city
Pakistan Lahore  2000-01-01      12.792
         Lahore  2000-02-01      14.339
         Lahore  2000-03-01      20.309
         Lahore  2000-04-01      29.072
         Lahore  2000-05-01      34.845
...                     ...         ...
Russia   Moscow  2013-05-01      16.152
         Moscow  2013-06-01      18.718
         Moscow  2013-07-01      18.136
         Moscow  2013-08-01      17.485
         Moscow  2013-09-01         NaN

[660 rows x 2 columns]

<h4 style="color:orange;">Slicing in both directions</h4>

You've seen slicing DataFrames by rows and by columns, but since DataFrames are two-dimensional objects, it is often natural to slice both dimensions at once. That is, by passing two arguments to .loc [ ], you can subset by rows and columns in one go.

pandas is loaded as pd. temperatures_srt is indexed by country and city, has a sorted index, and is available.

Use .loc [ ] slicing to subset rows from India, Hyderabad to Iraq, Baghdad.

In [699]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[('India','Hyderabad'):('Iraq','Baghdad')])

                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
...                       ...         ...
Iraq    Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]

Use .loc[] slicing to subset columns from date to avg_temp_c.

In [700]:
# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:,'date':'avg_temp_c'])

                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
...                        ...         ...
Zimbabwe    Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]

Slice in both directions at once from Hyderabad to Baghdad, and date to avg_temp_c.

In [701]:
# Subset in both directions at once
print(temperatures_srt.loc[('India','Hyderabad'):('Iraq','Baghdad'),'date':'avg_temp_c'])

                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
...                       ...         ...
Iraq    Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]

<h4 style="color:orange;">Slicing time series</h4>

Slicing is particularly useful for time series since it's a common thing to want to filter for data within a date range. Add the date column to the index, then use .loc[] to perform the subsetting. The important thing to remember is to keep your dates in ISO 8601 format, that is, "yyyy-mm-dd" for year-month-day, "yyyy-mm" for year-month, and "yyyy" for year.

Recall from Chapter 1 that you can combine multiple Boolean conditions using logical operators, such as &. To do so in one line of code, you'll need to add parentheses () around each condition.

pandas is loaded as pd and temperatures, with no index, is available.

Use Boolean conditions, not .isin() or .loc[], and the full date "yyyy-mm-dd", to subset temperatures for rows where the date column is in 2010 and 2011 and print the results.

In [710]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures['date'] >= '2010-1-1') & (temperatures['date'] <= '2011-12-01')]
print(temperatures_bool)

             date     city        country  avg_temp_c
129    2010-10-01  Abidjan  Côte D'Ivoire      26.397
130    2010-11-01  Abidjan  Côte D'Ivoire      27.446
131    2010-12-01  Abidjan  Côte D'Ivoire      27.666
132    2011-01-01  Abidjan  Côte D'Ivoire      27.360
133    2011-02-01  Abidjan  Côte D'Ivoire      28.295
...           ...      ...            ...         ...
16474  2011-08-01     Xian          China      23.069
16475  2011-09-01     Xian          China      16.775
16476  2011-10-01     Xian          China      12.587
16477  2011-11-01     Xian          China       7.543
16478  2011-12-01     Xian          China      -0.490

[1500 rows x 4 columns]

 Set date as the index and sort the index

In [706]:
# Set date as the index and sort the index
temperatures_ind = temperatures.set_index('date').sort_index()
print(temperatures_ind)

                 city        country  avg_temp_c
date
2000-01-01    Abidjan  Côte D'Ivoire      27.293
2000-01-01     Lahore       Pakistan      12.792
2000-01-01   Tangshan          China      -5.406
2000-01-01      Gizeh          Egypt      12.669
2000-01-01    Lakhnau          India      15.152
...               ...            ...         ...
2013-09-01    Nanjing          China         NaN
2013-09-01  New Delhi          India         NaN
2013-09-01   New York  United States      17.408
2013-09-01     Peking          China         NaN
2013-09-01       Xian          China         NaN

[16500 rows x 3 columns]

Use .loc [ ] to subset temperatures_ind for rows in 2010 and 2011.

In [709]:
print(temperatures_ind.loc['2010':'2011'])

                  city    country  avg_temp_c
date
2010-01-01  Faisalabad   Pakistan      11.810
2010-01-01   Melbourne  Australia      20.016
2010-01-01   Chongqing      China       7.921
2010-01-01   São Paulo     Brazil      23.738
2010-01-01   Guangzhou      China      14.136
...                ...        ...         ...
2010-12-01     Jakarta  Indonesia      26.602
2010-12-01       Gizeh      Egypt      16.530
2010-12-01      Nagpur      India      19.120
2010-12-01      Sydney  Australia      19.559
2010-12-01    Salvador     Brazil      26.265

[1200 rows x 3 columns]

Use .loc [ ] to subset temperatures_ind for rows from August 2010 to February 2011.

In [711]:
print(temperatures_ind.loc['2010-08':'2011-02'])

                     city        country  avg_temp_c
date
2010-08-01       Calcutta          India      30.226
2010-08-01           Pune          India      24.941
2010-08-01          Izmir         Turkey      28.352
2010-08-01        Tianjin          China      25.543
2010-08-01         Manila    Philippines      27.101
...                   ...            ...         ...
2011-01-01  Dar Es Salaam       Tanzania      28.541
2011-01-01        Nairobi          Kenya      17.768
2011-01-01    Addis Abeba       Ethiopia      17.708
2011-01-01        Nanjing          China       0.144
2011-01-01       New York  United States      -4.463

[600 rows x 3 columns]

<h4 style="color:orange;">Subsetting by row/column number</h4>

The most common ways to subset rows are the ways we've previously discussed: using a Boolean condition or by index labels. However, it is also occasionally useful to pass row numbers.

This is done using .iloc [ ], and like .loc [ ], it can take two arguments to let you subset by rows and columns.

pandas is loaded as pd. temperatures (without an index) is available.

Get the 23rd row, 2nd column (index positions 22 and 1).

In [715]:
print(temperatures.iloc[23,1])

Abidjan

Get the first 5 rows (index positions 0 to 5).

In [714]:
# Use slicing to get the first 5 rows
print(temperatures.iloc[0:5])

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

Use slicing to get columns 3 to 4

In [717]:
# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:4])

             country  avg_temp_c
0      Côte D'Ivoire      27.293
1      Côte D'Ivoire      27.685
2      Côte D'Ivoire      29.061
3      Côte D'Ivoire      28.162
4      Côte D'Ivoire      27.547
...              ...         ...
16495          China      18.979
16496          China      23.522
16497          China      25.251
16498          China      24.528
16499          China         NaN

[16500 rows x 2 columns]

Use slicing in both directions at once

In [719]:
# Use slicing in both directions at once
print(temperatures.iloc[:5,2:4])

         country  avg_temp_c
0  Côte D'Ivoire      27.293
1  Côte D'Ivoire      27.685
2  Côte D'Ivoire      29.061
3  Côte D'Ivoire      28.162
4  Côte D'Ivoire      27.547