<h1 style="color:orange;">Pandas in Python</h1>
<p style="font-size:18px;">Pandas is a powerful and popular data manipulation and analysis library in Python. It provides data structures like Series and DataFrame that are well-suited for working with structured data, such as spreadsheets or SQL tables. Pandas makes it easy to clean, analyze, and visualize data, making it a fundamental tool for data scientists, analysts, and engineers. Here's an overview of how to use Pandas in Python:</p>

<h3 style="color:orange;">Inspecting a Dataframe</h3>

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

<li>.head() returns the first few rows (the “head” of the DataFrame).</li>
<li>.info() shows information on each of the columns, such as the data type and number of missing values.</li>
<li>.shape returns the number of rows and columns of the DataFrame.</li>
<li>.describe() calculates a few summary statistics for each column.</li>

In [168]:
# Import pandas as pd
import pandas as pd


# Import the cars.csv data: cars
home_data = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/home_data.csv')

home_data.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [169]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

In [170]:
home_data.shape

(51, 5)

In [171]:
home_data.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

<h3 style="color:orange;">Parts of a DataFrame</h3>

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

<li>.values: A two-dimensional NumPy array of values.</li>
<li>.columns: An index of columns: the column names.</li>
<li>.index: An index for the rows: either row numbers or row names.</li>

<li>Print a 2D NumPy array of the values in homelessness.</li>
<li>Print the column names of homelessness.</li>
<li>Print the index of homelessness.</li>

In [172]:
# Print the values of homelessness
print(home_data.values)

# Print the column index of homelessness
print(home_data.columns)

# Print the row index of homelessness
print(home_data.index)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
RangeIndex(start=0, stop=51, step=1)

<h3 style="color:orange;">Sorting rows</h3>

Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to .sort_values().<br>

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

<span style="color:lightgreen;">Sort homelessness by the number of homeless individuals in the individuals column, from smallest to largest, and save this as home_data_ind.
Print the head of the sorted DataFrame.</span>

In [173]:
# Sort homelessness by individuals
home_data_ind = home_data.sort_values('individuals')

# Print the top few rows
home_data_ind.head()

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

<span style="color:lightgreen;">Sort homelessness by the number of homeless family_members in descending order, and save this as home_data_fam.</span>

In [174]:
# Sort homelessness by individuals
home_data_fam = home_data.sort_values('family_members', ascending=False)

# Print the top few rows
home_data_fam.head()

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

<span style="color:lightgreen;">Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as home_data_reg_fam.</span>

In [175]:
# Sort homelessness by region, then descending family members
home_data_reg_fam = home_data.sort_values(['region','family_members'],ascending=[True,False])

# Print the top few rows
home_data_reg_fam.head()

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

<h3 style="color:orange;">Subsetting the Columns</h3>

When working with data, you may not need all of the variables in your dataset. Square brackets ([]) can be used to select only the columns that matter to you in an order that makes sense to you. To select only specific column of the DataFrame df,

<span style="color:lightgreen;">Create a Series called individuals that contains only the individuals column of home_data.</span>

In [176]:
individuals = home_data['individuals']
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

<h3 style="color:orange;">Subsetting rows</h3>

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.


<span style="color:lightgreen;">Filter home_data for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.</span>

In [177]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = home_data[home_data['individuals']>10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

<span style="color:lightgreen;">Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.</span>

In [178]:
# Filter for rows where region is Mountain
mountain_reg = home_data[home_data['region']=='Mountain']

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

 <span style="color:lightgreen;">Filter for rows where family_members is less than 1000 and region is Pacific</span>

In [179]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = home_data[(home_data['region']=='Pacific') & (home_data['family_members'] <1000)]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

<span style="color:lightgreen;">Subsetting rows by categorical variables</span>

Subsetting data based on a categorical variable often involves using the "or" operator (|) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the .isin() method, which will allow you to tackle this problem by writing one condition instead of three separate ones.<br>

colors = ["brown", "black", "tan"]<br>
condition = dogs["color"].isin(colors)<br>
dogs[condition]

<span style="color:lightgreen;">Filter home_data for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_home_data. View the printed result.</span>

In [180]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_home_data = home_data[home_data['state'].isin(canu)]

# See the result
print(mojave_home_data)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

<h3 style="color:orange;">Adding new Columns</h3>

You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.<br>

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.<br>

home_data is a DataFrame containing estimates of home_data in each U.S. state in 2018. The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.<br>

home_data is available and pandas is loaded as pd.<br>

<li style='color:lightGreen;'>Add a new column to home_data, named total, containing the sum of the individuals and family_members columns.</li>
<li style='color:lightGreen;'>Add another column to home_data, named p_homeless, containing the proportion of the total homeless population to the total population in each state state_pop.</li>

In [181]:
# Add total col as sum of individuals and family_members
home_data["total"]=home_data['individuals']+home_data['family_members']

# Add p_homeless col as proportion of total homeless population to the state population
home_data['p_homeless']=home_data['total'] / home_data['state_pop']

# See the result
home_data

,region,state,individuals,family_members,state_pop,total,p_homeless
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0,0.000703
1,Pacific,Alaska,1434.0,582.0,735139,2016.0,0.002742
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0,0.001378
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0,0.000901
4,Pacific,California,109008.0,20964.0,39461588,129972.0,0.003294
5,Mountain,Colorado,7607.0,3250.0,5691287,10857.0,0.001908
6,New England,Connecticut,2280.0,1696.0,3571520,3976.0,0.001113
7,South Atlantic,Delaware,708.0,374.0,965479,1082.0,0.001121
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,6904.0,0.009841
9,South Atlantic,Florida,21443.0,9587.0,21244317,31030.0,0.001461
10,South Atlantic,Georgia,6943.0,2556.0,10511131,9499.0,0.000904
11,Pacific,Hawaii,4131.0,2399.0,1420593,6530.0,0.004597
12,Mountain,Idaho,1297.0,715.0,1750536,2012.0,0.001149
13,East North Central,Illinois,6752.0,3891.0,12723071,10643.0,0.000837
14,East North Central,Indiana,3776.0,1482.0,6695497,5258.0,0.000785
15,West North Central,Iowa,1711.0,1038.0,3148618,2749.0,0.000873
16,West North Central,Kansas,1443.0,773.0,2911359,2216.0,0.000761
17,East South Central,Kentucky,2735.0,953.0,4461153,3688.0,0.000827
18,West South Central,Louisiana,2540.0,519.0,4659690,3059.0,0.000656
19,New England,Maine,1450.0,1066.0,1339057,2516.0,0.001879
20,South Atlantic,Maryland,4914.0,2230.0,6035802,7144.0,0.001184
21,New England,Massachusetts,6811.0,13257.0,6882635,20068.0,0.002916
22,East North Central,Michigan,5209.0,3142.0,9984072,8351.0,0.000836
23,West North Central,Minnesota,3993.0,3250.0,5606249,7243.0,0.001292
24,East South Central,Mississippi,1024.0,328.0,2981020,1352.0,0.000454
25,West North Central,Missouri,3776.0,2107.0,6121623,5883.0,0.000961
26,Mountain,Montana,983.0,422.0,1060665,1405.0,0.001325
27,West North Central,Nebraska,1745.0,676.0,1925614,2421.0,0.001257
28,Mountain,Nevada,7058.0,486.0,3027341,7544.0,0.002492
29,New England,New Hampshire,835.0,615.0,1353465,1450.0,0.001071
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,9398.0,0.001058
31,Mountain,New Mexico,1949.0,602.0,2092741,2551.0,0.001219
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,91897.0,0.004705
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,9268.0,0.000893
34,West North Central,North Dakota,467.0,75.0,758080,542.0,0.000715
35,East North Central,Ohio,6929.0,3320.0,11676341,10249.0,0.000878
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3871.0,0.000982
37,Pacific,Oregon,11139.0,3337.0,4181886,14476.0,0.003462
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,13512.0,0.001056
39,New England,Rhode Island,747.0,354.0,1058287,1101.0,0.001040
40,South Atlantic,South Carolina,3082.0,851.0,5084156,3933.0,0.000774
41,West North Central,South Dakota,836.0,323.0,878698,1159.0,0.001319
42,East South Central,Tennessee,6139.0,1744.0,6771631,7883.0,0.001164
43,West South Central,Texas,19199.0,6111.0,28628666,25310.0,0.000884
44,Mountain,Utah,1904.0,972.0,3153550,2876.0,0.000912
45,New England,Vermont,780.0,511.0,624358,1291.0,0.002068
46,South Atlantic,Virginia,3928.0,2047.0,8501286,5975.0,0.000703
47,Pacific,Washington,16424.0,5880.0,7523869,22304.0,0.002964
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1243.0,0.000689
49,East North Central,Wisconsin,2740.0,2167.0,5807406,4907.0,0.000845
50,Mountain,Wyoming,434.0,205.0,577601,639.0,0.001106

You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.<br>

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.<br>

<li style='color:lightGreen;'>Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state, using state_pop for state population.</li>
<li style='color:lightGreen;'>Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.</li>
<li style='color:lightGreen;'>Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.</li>
<li style='color:lightGreen;'>Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.</li>

In [182]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
home_data["indiv_per_10k"] = 10000 * home_data['individuals'] /home_data['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = home_data[home_data['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt =high_homelessness.sort_values('indiv_per_10k',ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
#result = high_homelessness_srt.loc[:,['state','indiv_per_10k']]
result = high_homelessness_srt[['state','indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

Cool combination! District of Columbia has the highest number of homeless individuals - almost 54 per ten thousand people. This is almost double the number of the next-highest state, Hawaii. If you combine new column addition, row subsetting, sorting, and column selection, you can answer lots of questions like this.

<h3 style="color:orange;">Dictionary to DataFrame</h3>
<p style="font-size:18px;">Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python. Sounds promising!

The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises that follow you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.</p>

<li>names, containing the country names for which data is available.</li>
<li>dr, a list with booleans that tells whether people drive left or right in the corresponding country.</li>
<li>cpc, the number of motor vehicles per 1000 people in the corresponding country.</li>

<p>Each dictionary key is a column label and each value is a list which contains the column elements.</p>

<li>Import pandas as pd.</li>
<li>Use the pre-defined lists to create a dictionary called my_dict. There should be three key value pairs:</li>
<li>key 'country' and value names.</li>
<li>key 'drives_right' and value dr.</li>
<li>key 'cars_per_cap' and value cpc.</li>
<li>Use pd.DataFrame() to turn your dict into a DataFrame called cars.</li>
<li>Print out cars and see how beautiful it is.</li>

In [183]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd


# Create dictionary my_dict with three key:value pairs: my_dict
my_dict ={
    'country': names,
    'drives_right':dr,
    'cars_per_cap':cpc
}


# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)


# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

<p>The Python code that solves the previous exercise is included in the script. Have you noticed that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

To solve this a list row_labels has been created. You can use it to specify the row labels of the cars DataFrame. You do this by setting the index attribute of cars, that you can access as cars.index.</p>

<li>Specify the row labels by setting cars.index equal to row_labels.</li>
<li>Print out cars again and check if the row labels are correct this time.</li>

In [184]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)


# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index =row_labels


# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

<h3 style="color:orange;">CSV to DataFrame</h3>
<p>Putting data in a dictionary and then building a DataFrame works, but it's not very efficient. What if you're dealing with millions of observations? In those cases, the data is typically available as files with a regular structure. One of those file types is the CSV file, which is short for "comma-separated values".

To import CSV data into Python as a Pandas DataFrame you can use read_csv().

Let's explore this function with the same cars data from the previous exercises. This time, however, the data is available in a CSV file, named cars.csv. It is available in your current working directory, so the path to the file is simply 'cars.csv'.
<li>To import CSV files you still need the pandas package: import it as pd.</li>
<li>Use pd.read_csv() to import cars.csv data as a DataFrame. Store this DataFrame as cars.</li>
<li>Print out cars. Does everything look OK?</li>
</p>

In [185]:
# Import pandas as pd
import pandas as pd


# Import the cars.csv data: cars
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt')




# Print out cars
print(cars)

  Unnamed: 0        country drives_right  cars_per_cap
0         US  United States         True           809
1        AUS      Australia        False           731
2        JPN          Japan        False           588
3         IN          India        False            18
4         RU         Russia         True           200
5        MOR        Morocco         True            70
6         EG          Egypt         True            45

<p>Your read_csv() call to import the CSV data didn't generate an error, but the output is not entirely what we wanted. The row labels were imported as another column without a name.

Remember index_col, an argument of read_csv(), that you can use to specify which column in the CSV file should be used as a row label? Well, that's exactly what you need here!

Python code that solves the previous exercise is already included; can you make the appropriate changes to fix the data import?
<li>Run the code with Run Code and assert that the first column should actually be used as row labels.

</li>
<li>Specify the index_col argument inside pd.read_csv(): set it to 0, so that the first column is used as row labels.</li>
<li>Has the printout of cars improved now?</li>
</p>

In [186]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt',index_col = 0)

# Print out cars
print(cars)

           country drives_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
IN           India        False            18
RU          Russia         True           200
MOR        Morocco         True            70
EG           Egypt         True            45

<h3 style="color:orange;">Accessing DataFrames</h3>
<h3 style="color:orange;">Square Brackets Technique</h3>
<p style="font-size:18px;">In the sample code, the same cars data is imported from a CSV files as a Pandas DataFrame.<br> To select only the cars_per_cap column from cars, you can use:

cars['cars_per_cap'] <br>
cars[['cars_per_cap']] <br>
The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.</p>

<li>Use single square brackets to print out the country column of cars as a Pandas Series.</li>
<li>Use double square brackets to print out the country column of cars as a Pandas DataFrame.</li>
<li>Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order.</li>

In [187]:
# Import cars data
import pandas as pd
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])



# Print out country column as Pandas DataFrame
print(cars[['country']])


# Print out DataFrame with country and drives_right columns
print(cars[['country','drives_right']])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country drives_right
US   United States         True
AUS      Australia        False
JPN          Japan        False
IN           India        False
RU          Russia         True
MOR        Morocco         True
EG           Egypt         True

<p style='font-size:18px;'><span style="color:orange;">Square brackets</span> can do more than just selecting columns. You can also use them to get rows, or observations, from a DataFrame. The following call selects the first five rows from the cars DataFrame:

cars[0:5]
The result is another DataFrame containing only the rows you specified.

<span style="color:red">Pay attention:</span> You can only select rows using square brackets if you specify a slice, like 0:4. Also, you're using the integer indexes of the rows here, not the row labels!</p>

<li>Select the first 3 observations from cars and print them out.</li>
<li>Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out.</li>

In [188]:
# Import cars data
import pandas as pd
cars = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/cars.txt', index_col = 0)

# Print out first 3 observations
print(cars[0:3])


# Print out fourth, fifth and sixth observation
print(cars[3:6])

           country drives_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
     country drives_right  cars_per_cap
IN     India        False            18
RU    Russia         True           200
MOR  Morocco         True            70

<p style='font-size:18px;'><span style="color:orange;">loc and iloc</span> With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with loc and iloc to select observations. Each pair of commands here gives the same result.

cars.loc['RU'] <br>
cars.iloc[4]<br>

cars.loc[['RU']]<br>
cars.iloc[[4]]<br>

cars.loc[['RU', 'AUS']]<br>
cars.iloc[[4, 1]]<br>
As before, code is included that imports the cars data as a Pandas DataFrame.</p>

<li>Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JPN, the index is 2. Make sure to print the resulting Series.
</li>
<li>Use loc or iloc to select the observations for Australia and Egypt as a DataFrame.</li> <br>You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. Make sure to print the resulting DataFrame.

In [189]:
# Print out observation for Japan
print(cars.loc['JPN'])
print(cars.iloc[2])

# Print out observations for Australia and Egypt
print(cars.loc[['AUS','EG']])
print(cars.iloc[[1,6]])

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
       country drives_right  cars_per_cap
AUS  Australia        False           731
EG       Egypt         True            45
       country drives_right  cars_per_cap
AUS  Australia        False           731
EG       Egypt         True            45

<p><span style="color:orange;">loc and iloc</span> also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.

cars.loc['IN', 'cars_per_cap']<br>
cars.iloc[3, 0]<br>

cars.loc[['IN', 'RU'], 'cars_per_cap']<br>
cars.iloc[[3, 4], 0]<br>

cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]<br>
cars.iloc[[3, 4], [0, 1]]<br>
</p>
<li>Print out the drives_right value of the row corresponding to Morocco (its row label is MOR)
</li>
<li>Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.</li>

In [190]:
# Print out drives_right value of Morocco
print(cars.loc[["MOR"],['drives_right']])
print()


# Print sub-DataFrame
print(cars.loc[["RU","MOR"],["country","drives_right"]])

    drives_right
MOR         True

     country drives_right
RU    Russia         True
MOR  Morocco         True

<p>It's also possible to select only columns with <span style="color:orange;">loc and iloc</span>. In both cases, you simply put a slice going from beginning to end in front of the comma:

cars.loc[:, 'country']<br>
cars.iloc[:, 1]<br>

cars.loc[:, ['country','drives_right']]<br>
cars.iloc[:, [1, 2]]<br>
</p>
<li>Print out the drives_right column as a Series using loc or iloc.<br></li>
<li>Print out the drives_right column as a DataFrame using loc or iloc.<br></li>
<li>Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.<br></li>

In [191]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])
print()

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])
print()

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap','drives_right']])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: object

    drives_right
US          True
AUS        False
JPN        False
IN         False
RU          True
MOR         True
EG          True

     cars_per_cap drives_right
US            809         True
AUS           731        False
JPN           588        False
IN             18        False
RU            200         True
MOR            70         True
EG             45         True

<h3 style="color:orange;">Summary Statistics</h3>

<h3 style="color:orange;">Mean and Median</h3>
Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

In [192]:
import pandas as pd
sales = pd.read_csv('C:/Users/RBTG/OneDrive/Desktop/Data science/data/sales.csv')

<li>Explore your new DataFrame first by printing the first few rows of the sales DataFrame.</li>
<li>Print information about the columns in sales.</li>
<li>Print the mean of the weekly_sales column.</li>
<li>Print the median of the weekly_sales column.</li>

In [193]:
# Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print("Mean of weekly_sales is ",sales['weekly_sales'].mean())

# Print the median of weekly_sales
print("Median of weekly_sales is ",sales['weekly_sales'].median())

   store type  department      date  weekly_sales  is_holiday  temperature_c  \
0      1    A           1  2/5/2010      24924.50       False       5.727778
1      1    A           1  3/5/2010      21827.90       False       8.055556
2      1    A           1  4/2/2010      57258.43       False      16.816667
3      1    A           1  5/7/2010      17413.94       False      22.527778
4      1    A           1  6/4/2010      17558.09       False      27.050000

   fuel_price_usd_per_l  unemployment
0              0.679451         8.106
1              0.693452         8.106
2              0.718284         7.808
3              0.748928         7.808
4              0.714586         7.808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 684.0+ KB
None
Mean of weekly_sales is  23843.95014850566
Median of weekly_sales is  12049.064999999999

<h3 style="color:orange;">Summarizing Dates</h3>
Summary statistics can also be calculated on date columns that have values with the data type datetime64. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example, minimum and maximum, which allow you to see what time range your data covers.

<li>Print the maximum of the date column.</li>
<li>Print the minimum of the date column.</li>

In [194]:
# Print the maximum of the date column
print(sales['date'].max())

# Print the minimum of the date column
print(sales['date'].min())

9/9/2011
1/13/2012

<h3 style="color:orange;">Efficient summaries</h3>
While pandas and NumPy have tons of functions, sometimes, you may need a different function to summarize your data.

The .agg() method allows you to apply your own custom functions to a DataFrame, as well as apply functions to more than one column of a DataFrame at once, making your aggregations super-efficient. For example,

df['column'].agg(function)

<li>Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.</li>
<li>Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.</li>

<li>Update the aggregation functions called by .agg(): include iqr and np.median in that order.</li>

In [195]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

16.583333337000003

In [196]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [197]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])

C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1446678071.py:7: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1446678071.py:7: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])
C:\Users\RBTG\AppData\Local\Temp\ipykernel_21840\1446678071.py:7: FutureWarning: The provided callable <function median at 0x00000229FFD83100> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median])

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

<h3 style="color:orange;">Cumulative statistics</h3>
Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called sales_1_1 has been created for you, which contains the sales data for department 1 of store 1. pandas is loaded as pd.

<li>Sort the rows of sales_1_1 by the date column in ascending order.</li>
<li>Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.</li>
<li>Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.</li>
<li>Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales columns.</li>

In [198]:
sales_1_1 = sales[(sales['department']==1) & (sales['store']==1)]
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date',ascending=True)

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

         date  weekly_sales  cum_weekly_sales  cum_max_sales
11   1/7/2011      15984.24          15984.24       15984.24
8   10/1/2010      20094.19          36078.43       20094.19
9   11/5/2010      34238.88          70317.31       34238.88
10  12/3/2010      22517.56          92834.87       34238.88
0    2/5/2010      24924.50         117759.37       34238.88
1    3/5/2010      21827.90         139587.27       34238.88
2    4/2/2010      57258.43         196845.70       57258.43
3    5/7/2010      17413.94         214259.64       57258.43
4    6/4/2010      17558.09         231817.73       57258.43
5    7/2/2010      16333.14         248150.87       57258.43
6    8/6/2010      17508.41         265659.28       57258.43
7    9/3/2010      16241.78         281901.06       57258.43