<h2 style="color:orange;">Inner Join</h2>

In [32]:
import pandas as pd

In [66]:
#load the data sets
taxi_owners = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/taxi_owners.p")
taxi_veh = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/taxi_vehicles.p")
wards = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/ward.p")
wards_altered = pd.read_csv("C:/Users/RBTG/OneDrive/Desktop/Data science/data/wards_altered.txt")
census = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/census.p")
ridership = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/ridership.p")
cal = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/calendar.p")
licenses = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/licenses.p")
stations = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/stations.p")
zip_demo = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/zip_demo.p")
land_use = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/land_use.p")
movies = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/movies.p")
financials = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/financials.p")
taglines = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/taglines.p")
movie_to_genres = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/movie_to_genres.p")
census_altered = pd.read_csv("C:/Users/RBTG/OneDrive/Desktop/Data science/data/census_altered.txt")

In [ ]:
# have a look at the data sets
#print(taxi_owners.head(10))
print('')
#print(taxi_veh.head(10))
print(wards_altered.head(10))
print("")
print(census_altered.head(10))

You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the taxi_owners and taxi_veh tables together on the vid column. You can then use the merged table along with the .value_counts() method to find the most common fuel_type.

Since you'll be working with pandas throughout the course, the package will be preloaded for you as pd in each exercise in this course. Also the taxi_owners and taxi_veh DataFrames are loaded for you.

<li>Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.</li>
<li>Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.</li>
<li>Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.</li>

In [ ]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')
print(taxi_own_veh.columns)

In [ ]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))
print(taxi_own_veh.columns)

In [ ]:
# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

<span style="color:orange;">"Bravo! You correctly merged the two tables together and found out that the most common fuel type for taxis in Chicago are hybrids"</span>

<h2 style="color:orange;">Inner joins and number of rows returned</h2>

All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards and census tables, then comparing it to merges of copies of these tables that are slightly altered, named wards_altered, and census_altered. The first row of the wards column has been changed in the altered tables. You will examine how this affects the merge between them. The tables have been loaded for you.

In [ ]:
print(wards.head(50))
print(wards.columns)

In [ ]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census,on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

The apply function with lambda checks each value in census_altered['ward']:

If the value is not NaN, it converts it to an integer first (to remove the decimal point) and then to a string.

If the value is NaN, it remains unchanged.

In [ ]:
wards_altered['ward'] = wards_altered['ward'].fillna(61).astype(str)
census_altered['ward'] = census_altered['ward'].apply(lambda x: str(int(x)) if not pd.isna(x) else x)
#census_altered['ward'] =census_altered['ward'].astype(int).astype(str)
wards_altered['zip'] =census_altered['zip'].astype(object)

In [ ]:
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())
print(wards_altered['ward'].unique())
print(census_altered['ward'].unique())
print(wards['ward'].unique())
print(wards['zip'].unique())
wards_altered['ward'] = wards_altered['ward'].str.strip()
census['ward'] = census['ward'].str.strip()

# Try merging again after cleaning
wards_altered_census = wards_altered.merge(census, on='ward')
print('wards_altered_census table shape:', wards_altered_census.shape)

# Merge the wards_altered and census tables on the ward column
#wards_altered_census = wards_altered.merge(census, on='ward')

# Print the shape of wards_altered_census
#print('wards_altered_census table shape:', wards_altered_census.shape)

In [ ]:
print(census_altered['ward'].unique())
print(wards['ward'].unique())

In [ ]:
# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered,on='ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

<h2 style="color:orange;">One to one relationship</h2>

In a one-to-one (1:1) relationship between dataframes, each record in one dataframe maps to exactly one record in another dataframe, and vice versa. This is different from a one-to-many or many-to-many relationship where multiple records in one dataframe can map to multiple records in another dataframe.

Here's how you can manage a one-to-one relationship between two dataframes using pandas:

In [ ]:
import pandas as pd

# DataFrame 1
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

# DataFrame 2
df2 = pd.DataFrame({
    'id': [1, 2, 3],
    'age': [25, 30, 35]
})

# Merge df1 and df2 on 'id'
merged_df = pd.merge(df1, df2, on='id')
print(merged_df)

Ensure Uniqueness: Make sure that the key column(s) used for merging are unique in both dataframes to maintain a true one-to-one relationship.

Join Types: Use different join types (inner, outer, left, right) as needed. An inner join is typically used for one-to-one relationships if you only want records that exist in both dataframes.

<h2 style="color:orange;">One to many relationship</h2>

A one-to-many relationship in dataframes means that one record in one dataframe (the parent) can relate to multiple records in another dataframe (the child). In pandas, this relationship can be managed using the

 merge function, where one dataframe has unique values in the key column, and the other dataframe has duplicate values in the same key column.

 One-to-many relationship: Alice (customer_id = 1) has two orders (order_id = 101 and 103), while Bob and Charlie have one order each.
 
The merge function duplicates the rows from the parent dataframe (customers) based on the number of matching rows in the child dataframe (orders).

In [ ]:
import pandas as pd

# Parent DataFrame: Customers
customers = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

# Child DataFrame: Orders (multiple orders per customer)
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104],
    'customer_id': [1, 2, 1, 3],
    'product': ['Laptop', 'Phone', 'Tablet', 'Monitor']
})

# Merge customers with orders using 'customer_id'
merged_df = pd.merge(customers, orders, on='customer_id')
print(merged_df)

<h2 style="color:orange">Join Types</h2>

<h4>Inner Join</h4> 

Only includes rows where the key exists in both dataframes.

<h4>Left Join</h4> 

All rows from the left (parent) dataframe are included, even if there is no match in the right (child) dataframe.

<h4>Right Join</h4> 

All rows from the right (child) dataframe are included, even if there is no match in the left (parent) dataframe.

<h2 style="color:orange">Difference between nunique ( ) and count ( )</h2>

Use .count ( ) to count total non-null values.

Use .nunique ( ) to count distinct values, ignoring duplicates.

In [ ]:
import pandas as pd

# Sample data
df = pd.DataFrame({
    'values': [1, 2, 2, None, 3]
})

# Count all non-null values
print("output with count() : " , df['values'].count())  # Output: 4

# Count unique values
print("output with nunique() : ",df['values'].nunique())  # Output: 3

 <h2 style="color:orange">Merging Multiple Dataframes</h2>

 When merging multiple DataFrames in pandas, you can use the pd.merge() function iteratively or use pd.concat() if the DataFrames share the same structure. 
 
 Below are two common approaches for merging multiple DataFrames.

<ol>
<li>Using pd.merge() for Multiple DataFrames</li>
</ol>

    If you have multiple DataFrames that you need to merge based on a common key, you can chain the merge() method.
    Let's assume you have three DataFrames: df1, df2, and df3.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'id': [1, 2, 4],
    'age': [25, 30, 40]
})

df3 = pd.DataFrame({
    'id': [1, 3, 4],
    'city': ['NYC', 'LA', 'Chicago']
})

# Merge df1 with df2 on 'id'
merged_df1 = pd.merge(df1, df2, on='id')
print("merged_df1 : \n\n" ,merged_df1)


# Merge the result with df3 on 'id'
final_merged_df = pd.merge(merged_df1, df3, on='id')
print("")

print(final_merged_df)

In [ ]:
print(ridership)
print(cal)

In [ ]:
print(stations)

<h3 style="color:orange;">Total riders in a month</h3>

Your goal is to find the total number of rides provided to passengers passing through the Wilson station (station_name == 'Wilson') when riding Chicago's public transportation system 

on weekdays (day_type == 'Weekday') in July (month == 7). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these tables 

together to answer the question. This data is different from the business related data you have seen so far, but all the information you need to answer the question is provided.

Merge the ridership and cal tables together, starting with the ridership table on the left and save the result to the variable ridership_cal.

In [ ]:
# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal,on=['year','month','day'])
print(ridership_cal)

Extend the previous merge to three tables by also merging the stations table.

In [ ]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
            				.merge(stations,on='station_id')
print(ridership_cal_stations)

In [ ]:
# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7) 
                   & (ridership_cal_stations['day_type'] =='Weekday') 
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

In [ ]:
filtered_data = ridership_cal_stations[
    (ridership_cal_stations['month'] == 7) &  # Replace 'desired_month' with your value
    (ridership_cal_stations['day_type'] == 'Weekday') &  # Replace with the desired day type
    (ridership_cal_stations['station_name'] == 'Wilson')  # Replace with the station name
]
print(filtered_data.groupby(['month','day_type','station_name']).agg(totalRides=('rides','sum')))

Awesome work! You merged three DataFrames together, including merging two tables on multiple columns. Once the tables were merged, you filtered and selected just like any other 

DataFrame. Finally, you found out that the Wilson station had 140,005 riders during weekdays in July.

<h3 style="color:orange;">Three table merge</h3>

To solidify the concept of a three DataFrame merge, practice another exercise. A reasonable extension of our review of Chicago business data would include looking at demographics 

information about the neighborhoods where the businesses are. A table with the median income by zip code has been provided to you. You will merge the licenses and wards tables with 

this new income-by-zip-code table called zip_demo.

The licenses, wards, and zip_demo DataFrames have been loaded for you.

In [35]:
# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo,on='zip') \
            			.merge(wards,on='ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

<h3 style="color:orange;">One-to-many merge with multiple tables</h3>

In this exercise, assume that you are looking to start a business in the city of Chicago. Your perfect idea is to start a company that uses goats to mow the lawn for other businesses.

 However, you have to choose a location in the city to put your goat farm. You need a location with a great deal of space and relatively few businesses and people around to avoid 
 
 complaints about the smell. You will need to merge three tables to help you choose your location. The land_use table has info on the percentage of vacant land by city ward. The census 
 
 table has population by ward, and the licenses table lists businesses by ward.

The land_use, census, and licenses tables have been loaded for you.

Merge land_use and census on the ward column. Merge the result of this with licenses on the ward column, using the suffix _cen for the left table and _lic for the right table.

 Save this to the variable land_cen_lic.

In [37]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant','account','pop_2010'], 
                                             ascending=[False,True,True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156

Great job putting your new skills into action. You merged multiple tables with varying relationships and added suffixes to make your column names clearer.

 Using your skills, you were able to pull together information from different tables to see that the 7th ward would be a good place to build your goat farm!

<h2 style='color:orange;'>Left Join</h2>

In pandas, you can perform a left join using the merge() function. A left join returns all the rows from the left DataFrame and only the matching rows from the right DataFrame.

Here’s an example of how to perform a left join in pandas:

<li>df1 is the left DataFrame.</li>
<li>df2 is the right DataFrame.</li>
<li>The how='left' argument ensures that all rows from df1 are returned, with matching rows from df2. If there is no match, the result contains NaN values for columns from df2.</li>

In [39]:
# Sample DataFrames
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['A', 'B', 'E', 'F'],
    'value2': [5, 6, 7, 8]
})

# Perform left join
result = pd.merge(df1, df2, how='left', on='key')

print(result)

  key  value1  value2
0   A       1     5.0
1   B       2     6.0
2   C       3     NaN
3   D       4     NaN

<h3 style='color:orange;'>Counting missing rows with left join</h3>
The Movie Database is supported by volunteers going out into the world, collecting data, and entering it into the database. This includes financial data, such as movie budget and 

revenue. If you wanted to know which movies are still missing data, you could use a left join to identify them. Practice using a left join by merging the movies table and the 

financials table.

The movies and financials tables have been loaded for you.

In [41]:
# Merge the movies table with the financials table with a left join
movies_financials = movies.merge(financials, on='id', how='left')

# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isna().sum()

# Print the number of movies missing financials
print('Missing values are :' ,number_of_missing_fin)

Missing values are : 1574

Great job! You used a left join to find out which rows in the financials table were missing data. When performing a left join, the .merge() method returns a row full of null values for

 columns in the right table if the key column does not have a matching value in both tables. We see that there are at least 1,500 rows missing data. Wow! That sounds like a lot of work.

In [60]:
toy_story = movies[movies['title'].isin(['Toy Story', 'Toy Story 2', 'Toy Story 3'])]

toy_story

         id        title  popularity release_date
103   10193  Toy Story 3   59.995418   2010-06-16
2637    863  Toy Story 2   73.575118   1999-10-30
3716    862    Toy Story   73.640445   1995-10-30

In [64]:
taglines.head()

       id                                         tagline
0   19995                     Enter the World of Pandora.
1     285  At the end of the world, the adventure begins.
2  206647                           A Plan No One Escapes
3   49026                                 The Legend Ends
4   49529            Lost in our world, found in another.

In [63]:
# Merge the toy_story and taglines tables with a left join
toystory_tag = toy_story.merge(taglines,on='id',how='left')

# Print the rows and shape of toystory_tag
print(toystory_tag)
print(toystory_tag.shape)

      id        title  popularity release_date                   tagline
0  10193  Toy Story 3   59.995418   2010-06-16  No toy gets left behind.
1    863  Toy Story 2   73.575118   1999-10-30        The toys are back!
2    862    Toy Story   73.640445   1995-10-30                       NaN
(3, 5)

In [65]:
# Merge the toy_story and taglines tables with a inner join
toystory_tag = toy_story.merge(taglines,on='id')

# Print the rows and shape of toystory_tag
print(toystory_tag)
print(toystory_tag.shape)

      id        title  popularity release_date                   tagline
0  10193  Toy Story 3   59.995418   2010-06-16  No toy gets left behind.
1    863  Toy Story 2   73.575118   1999-10-30        The toys are back!
(2, 5)

That's fantastic work! If your goal is to enhance or enrich a dataset, then you do not want to lose any of your original data. 

A left join will do that by returning all of the rows of your left table, while using an inner join may result in lost data if it does not exist in both tables.