<h2 style="color:orange;">Inner Join</h2>

In [48]:
import pandas as pd

In [49]:
#load the data sets
taxi_owners = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/taxi_owners.p")
taxi_veh = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/taxi_vehicles.p")
wards = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/ward.p")
wards_altered = pd.read_csv("C:/Users/RBTG/OneDrive/Desktop/Data science/data/wards_altered.txt")
census = pd.read_pickle("C:/Users/RBTG/OneDrive/Desktop/Data science/data/census.p")
census_altered = pd.read_csv("C:/Users/RBTG/OneDrive/Desktop/Data science/data/census_altered.txt")

In [50]:
# have a look at the data sets
#print(taxi_owners.head(10))
print('')
#print(taxi_veh.head(10))
print(wards_altered.head(10))
print("")
print(census_altered.head(10))

   ward               alderman                            address    zip
0    61     Proco "Joe" Moreno           2058NORTH WESTERN AVENUE  60647
1     2          Brian Hopkins          1400 NORTH ASHLAND AVENUE  60622
2     3             Pat Dowell            5046 SOUTH STATE STREET  60609
3     4       William D. Burns     435 EAST 35TH STREET 1ST FLOOR  60616
4     5     Leslie A. Hairston              2325 EAST 71ST STREET  60649
5     6     Roderick T. Sawyer   8001 S. MARTIN LUTHER KING DRIVE  60619
6     7    Gregory I. Mitchell              2249 EAST 95TH STREET  60617
7     8     Michelle A. Harris    8539 SOUTH COTTAGE GROVE AVENUE  60619
8     9       Anthony A. Beale                34 EAST 112TH PLACE  60628
9    10  Susan Sadlowski Garza           10500 SOUTH EWING AVENUE  60617

   ward  pop_2000  pop_2010 change                                  address  \
0   NaN     52951     56149     6%              2765 WEST SAINT MARY STREET
1   2.0     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2   3.0     40385     53039    31%                      17 EAST 38TH STREET
3   4.0     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4   5.0     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE
5   6.0     54989     52341    -5%                     150 WEST 74TH STREET
6   7.0     54593     51581    -6%                8549 SOUTH OGLESBY AVENUE
7   8.0     54039     51687    -4%               1346-1352 EAST 75TH STREET
8   9.0     52008     51519    -1%       11039-11059 SOUTH WENTWORTH AVENUE
9  10.0     56613     51535    -9%                     10534 SOUTH AVENUE F

     zip
0  60647
1  60622
2  60653
3  60653
4  60637
5  60636
6  60617
7  60649
8  60628
9  46394

You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the taxi_owners and taxi_veh tables together on the vid column. You can then use the merged table along with the .value_counts() method to find the most common fuel_type.

Since you'll be working with pandas throughout the course, the package will be preloaded for you as pd in each exercise in this course. Also the taxi_owners and taxi_veh DataFrames are loaded for you.

<li>Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.</li>
<li>Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.</li>
<li>Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.</li>

In [51]:
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')

In [52]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

In [53]:
# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64

<span style="color:orange;">"Bravo! You correctly merged the two tables together and found out that the most common fuel type for taxis in Chicago are hybrids"</span>

<h2 style="color:orange;">Inner joins and number of rows returned</h2>

All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards and census tables, then comparing it to merges of copies of these tables that are slightly altered, named wards_altered, and census_altered. The first row of the wards column has been changed in the altered tables. You will examine how this affects the merge between them. The tables have been loaded for you.

In [54]:
print(wards.head(50))
print(wards.columns)

   ward                   alderman                            address    zip
0     1         Proco "Joe" Moreno          2058 NORTH WESTERN AVENUE  60647
1     2              Brian Hopkins         1400 NORTH  ASHLAND AVENUE  60622
2     3                 Pat Dowell            5046 SOUTH STATE STREET  60609
3     4           William D. Burns    435 EAST 35TH STREET, 1ST FLOOR  60616
4     5         Leslie A. Hairston              2325 EAST 71ST STREET  60649
5     6         Roderick T. Sawyer   8001 S. MARTIN LUTHER KING DRIVE  60619
6     7        Gregory I. Mitchell              2249 EAST 95TH STREET  60617
7     8         Michelle A. Harris    8539 SOUTH COTTAGE GROVE AVENUE  60619
8     9           Anthony A. Beale                34 EAST 112TH PLACE  60628
9    10      Susan Sadlowski Garza           10500 SOUTH EWING AVENUE  60617
10   11     Patrick Daley Thompson          3659 SOUTH HALSTED STREET  60609
11   12            George Cardenas           3476 SOUTH ARCHER AVENUE  60608
12   13                Marty Quinn            6500 SOUTH PULASKI ROAD  60629
13   14            Edward M. Burke              2650 WEST 51ST STREET  60632
14   15           Raymond A. Lopez              1650 WEST 63RD STREET  60636
15   16            Toni L. Foulkes              3045 WEST 63RD STREET  60629
16   17             David H. Moore          7313 SOUTH ASHLAND AVENUE  60636
17   18          Derrick G. Curtis            8359 SOUTH PULASKI ROAD  60652
18   19          Matthew J. O'Shea         10400 SOUTH WESTERN AVENUE  60643
19   20          Willie B. Cochran    6357 SOUTH COTTAGE GROVE AVENUE  60637
20   21    Howard B. Brookins, Jr.  9011 SOUTH ASHLAND AVENUE, UNIT B  60620
21   22              Ricardo Munoz        2500 SOUTH ST. LOUIS AVENUE  60623
22   23        Michael R. Zalewski           6247 SOUTH ARCHER AVENUE  60638
23   24         Michael Scott, Jr.           1158 SOUTH KEELER AVENUE  60624
24   25       Daniel "Danny" Solis      1800 SOUTH BLUE ISLAND AVENUE  60608
25   26          Roberto Maldonado          2511 WEST DIVISION STREET  60622
26   27        Walter Burnett, Jr.             4 NORTH WESTERN AVENUE  60612
27   28             Jason C. Ervin              2602 WEST 16TH STREET  60612
28   29           Chris Taliaferro             6272 WEST NORTH AVENUE  60639
29   30          Ariel E. Reyboras        3559 NORTH MILWAUKEE AVENUE  60641
30   31  Milagros "Milly" Santiago            2521 NORTH PULASKI ROAD  60639
31   32           Scott Waguespack         2657 NORTH CLYBOURN AVENUE  60614
32   33               Deborah Mell         3001 WEST IRVING PARK ROAD  60618
33   34           Carrie M. Austin              507 WEST 111TH STREET  60628
34   35        Carlos Ramirez-Rosa           2710 NORTH SAWYER AVENUE  60647
35   36           Gilbert Villegas                 6934 WEST DIVERSEY  60607
36   37              Emma M. Mitts           4924 WEST CHICAGO AVENUE  60651
37   38           Nicholas Sposato          3821  NORTH HARLEM AVENUE  60634
38   39           Margaret Laurino          4404 WEST LAWRENCE AVENUE  60630
39   40        Patrick J. O'Connor          5850 NORTH LINCOLN AVENUE  60659
40   41      Anthony V. Napolitano           7442 NORTH HARLEM AVENUE  60631
41   42             Brendan Reilly   325 WEST HURON STREET, SUITE 510  60654
42   43             Michelle Smith          2523 NORTH HALSTED STREET  60614
43   44                 Tom Tunney        3223 NORTH SHEFFIELD AVENUE  60657
44   45              John S. Arena        4754 NORTH MILWAUKEE AVENUE  60630
45   46            James Cappleman         4544 NORTH BROADWAY AVENUE  60640
46   47                Ameya Pawar          4243 NORTH LINCOLN AVENUE  60618
47   48             Harry Osterman         5533 NORTH BROADWAY AVENUE  60640
48   49                  Joe Moore        7356 NORTH GREENVIEW AVENUE  60626
49   50       Debra L. Silverstein    2949 WEST DEVON AVENUE, SUITE A  60659
Index(['ward', 'alderman', 'address', 'zip'], dtype='object')

In [55]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census,on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

wards_census table shape: (50, 9)

In [56]:
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on='ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

   ward
0    61
1     2
2     3
3     4
4     5

ValueError: You are trying to merge on int64 and object columns for key 'ward'. If you wish to proceed you should use pd.concat